@using HomeRentTracker.Models.RenterEntity

@* Views/Renter/Details.cshtml *@
@model RenterInfo

<h2>Renter Details</h2>
<dl class="row">
    <dt class="col-sm-2">Renter</dt>
    <dd class="col-sm-10">@Model.MemberName</dd>

    <dt class="col-sm-2">Phone</dt>
    <dd class="col-sm-10">@Model.MemberPhone</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.MemberPhone</dd>

    <dt class="col-sm-2">Guardian</dt>
    <dd class="col-sm-10">@Model.RenterName</dd>

    <dt class="col-sm-2">Profession</dt>
    <dd class="col-sm-10">@Model.RenterProfession</dd>

    <dt class="col-sm-2">Total Members</dt>
    <dd class="col-sm-10">@Model.TotalMember</dd>
</dl>
